#area {
    position: relative;
    background-color: black;
    margin: 1em auto;
  }
  .ball {
    background-color:blue;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
  }